<ion-content fullscreen class="ion-padding" scroll-y="false">
  
  <ion-slides pager='true'>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/image-slides/slide1.png"/>
        <h2>Bienvenue</h2>
        <p>Utiliser l'application <b>Mon Pote</b> et recuperer facilement vos monnaie dans les super-marché, pharmacie, magasin, boutique... </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/image-slides/slide2.png"/>
      <h2>Pourquoi ?</h2>
      <p><b>Mon Pote</b> est une solution pour resoudre vos problèmes d'échange de monnaie sur le marché </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/image-slides/slide3.png"/>
      <h2>Nos points fort !</h2>
      <p> La monnaie <b>Mon Pote</b> peut être réutiliser dans differents commerces, pour achat de crédit tout réseau, paiement de facture et même en e-commerce !</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/image-slides/slide4.png"/>
      <h2>Prêt a essayé ?</h2>
      <ion-button fill="clear" (click)="goToLogin()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>