// ion-content{
//     --background: #993399
// }

.solde-row{
    background: linear-gradient(rgb(255, 255, 255), rgb(231, 210, 243));
}

.img{
    height: 90px;
    width: 90px;
}

ion-text{
    font-size: 25px;
}

.pallette-row{
    text-align: center; 
    margin-top: 70px;
    height: 250px;
}

.code-caisse{
    font-size: 24px;
    color: rgb(68, 68, 68);
}