<ion-content>
  <ion-row style=" height: 100px; justify-content: center; padding: 40px">
    <ion-icon name="md-card"  style="zoom: 3; margin-top: -5px;"></ion-icon>
    <b> Réutiliser vos avoirs </b>
  </ion-row>
  <ion-row style="background-color: black; color: white;" padding>
    <b>Utiliser vos avoirs pour payer des bien et services, recharger votre numéro ou recupérer par Mobile monney</b> 
  </ion-row>
  <ion-row style=" background-color:  #993399; padding: 3px; justify-content: center;">
    <b style=" font-size: 16px">Selectionner votre service</b>
  </ion-row>

  <div text-center padding >
    <ion-row class="ion-justify-content-center" style="margin-top: 10%" [routerLink]="['/paye']">
      Achat de bien et service
    </ion-row>

    <hr class="hr">
    <ion-row class="ion-justify-content-center" style="margin-top: 10%" [routerLink]="['/monney']">
      Recupérer par mobile monney
    </ion-row>

    <hr class="hr">
    <ion-row class="ion-justify-content-center" style="margin-top: 10%" [routerLink]="['/recharge']">
     Recharger un numéro
    </ion-row>
  </div>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button size="small" [routerLink]="['/tabs']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
