ion-content{
    --background: #ededed;
}
ion-card{
    --background: #fff;
}
ion-item{
    ion-button{
        padding: 0px;
    }
}

.myButton{
    
    background: #000;
    width: 20px;
    padding: 3px;
}
.qte{
    width: 20px;
    padding: 3px;
}