ion-card{
    --background: #FCF8CC;
    height: 160px;
    ion-card-title{
        font-size: 18px;
        text-align: center;
    }
    ion-card-content{
        p{
            font-size: 14px;
        }
        
    }
    
}